<p>
  <div class="email-top">
    Someone asked for password reset for email {{ email }}. Follow the link below:
  </div>
  <br>
  <div class="email-link">
    <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">
      {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
    </a>
  </div>
  <br>
</p>