{% extends 'base.html' %}
{% load thumbnail %}

{% block title %}Reset Password{% endblock title %}

{% block content %}
<div class="intro-section" id="home-section">

  {% thumbnail image.image "1296x864" crop="center" as im %}
  <div class="slide-1" style="background-image: url('{{ im.url }}');">
    {% endthumbnail %}
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12">
          <div class="row align-items-center justify-content-center  position-relative home-banner">

            <div class="col-lg-8" data-aos="fade-up" data-aos-delay="500">
              <form action="." method="post" class="form-box">
                <h3 class="h4 text-black mb-4">Reset your password</h3>
                <p class="logout">We've emailed you instructions for setting your password.</p>
                <p class="logout">
                  If you don't receive an email, please make sure you've entered the address you registered with.
                </p>
                <p class="logout"><a href="{% url 'password_reset' %}">Enter email again</a></p>
              </form>

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
{% endblock content %}