{% extends 'base.html' %}
{% load thumbnail %}

{% block title %}Password reset{% endblock title %}

{% block content %}
<div class="intro-section" id="home-section">

  {% thumbnail image.image "1296x864" crop="center" as im %}
  <div class="slide-1" style="background-image: url('{{ im.url }}');">
    {% endthumbnail %}
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12">
          <div class="row align-items-center justify-content-center  position-relative home-banner">

            <div class="col-lg-8" data-aos="fade-up" data-aos-delay="500">
              <form action="." method="post" class="form-box">
                <h3 class="h4 text-black mb-4">Password has been set</h3>
                <p class="logout">
                  Your password has been set. You can
                  <a href="{% url 'login' %}">
                    log in now
                  </a>.
                </p>
              </form>

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
{% endblock content %}