{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load thumbnail %}

{% block title %}Update profile{% endblock title %}

{% block content %}
<div class="intro-section" id="home-section">

  {% thumbnail image.image "1296x864" crop="center" as im %}
  <div class="slide-1" style="background-image: url('{{ im.url }}');">
    {% endthumbnail %}
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12">
          <div class="row align-items-center justify-content-center  position-relative home-banner">

            <div class="col-lg-10" data-aos="fade-up" data-aos-delay="500">
              <form action="." method="post" class="form-box">
                <h3 class="h4 text-black mb-4">Update your profile</h3>
                {% csrf_token %}
                <div class="form-row">
                  <div class="form-group col-md-8 mb-0">
                    {{ form.full_name_M|as_crispy_field }}
                  </div>
                  <div class="form-group col-md-4 mb-0">
                    {{ form.nickname_M|as_crispy_field }}
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-8 mb-0">
                    {{ form.full_name_F|as_crispy_field }}
                  </div>
                  <div class="form-group col-md-4 mb-0">
                    {{ form.nickname_F|as_crispy_field }}
                  </div>
                </div>
                <input type="hidden" name="next" value="{{ next }}">
                <div class="form-group">
                  <input type="submit" class="btn btn-primary btn-pill" value="Update">
                </div>
              </form>

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
{% endblock content %}