{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load thumbnail %}

{% block title %}Create an account{% endblock title %}

{% block content %}
<div class="intro-section" id="home-section">

  {% thumbnail image.image "1296x864" crop="center" as im %}
  <div class="slide-1" style="background-image: url('{{ im.url }}');">
    {% endthumbnail %}
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12">
          <div class="row align-items-center justify-content-center position-relative home-banner">

            <div class="col-lg-8" data-aos="fade-up" data-aos-delay="500">
              <form action="." method="post" class="form-box">
                <h3 class="h4 text-black mb-4">Sign Up</h3>
                {{ form|crispy }}
                {% csrf_token %}
                <div class="form-group">
                  <input type="submit" class="btn btn-primary btn-pill" value="Sign up">
                </div>
              </form>

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
{% endblock content %}