{% load crispy_forms_tags %}
<div class="site-mobile-menu site-navbar-target">
  <div class="site-mobile-menu-header">
    <div class="site-mobile-menu-close mt-3">
      <span class="icon-close2 js-menu-toggle"></span>
    </div>
  </div>
  <div class="site-mobile-menu-body"></div>
</div>


<header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner">

  <div class="container-fluid">
    <div class="d-flex align-items-center">
      <div class="site-logo mr-auto w-25"><a href="{% url 'home' %}"><span class="qawen">Qawen</span></a></div>

      <div class="mx-auto text-center">
        <nav class="site-navigation position-relative text-right" role="navigation">
          <ul class="site-menu main-menu js-clone-nav mx-auto d-none d-lg-block  m-0 p-0">
            <li><a href="{% url 'home' %}" class="nav-link">Home</a></li>
            <li><a href="{% url 'about' %}" class="nav-link">About Us</a></li>
          </ul>
        </nav>
      </div>

      <div class="ml-auto w-25">
        <nav class="site-navigation position-relative text-right" role="navigation">
          <ul class="site-menu main-menu site-menu-dark js-clone-nav mr-auto d-none d-lg-block m-0 p-0">
            {% if request.user.is_authenticated %}
            <li class="cta">
              <a href="" id="navbarDropdown" role="button" class="nav-link" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false"><span class="email">{{ request.user.email }}</span></a>

              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'profile_update' %}">Profile</a>
                <a class="dropdown-item" href="{% url 'password_change' %}">Change password</a>
                <a class="dropdown-item" href="{% url 'logout' %}">
                  Logout
                </a>
              </div>
            </li>
            {% else %}
            <li class="cta"><a href="" class="nav-link" data-toggle="modal"
                data-target="#modalLoginForm"><span>Login</span></a></li>
            {% endif %}
          </ul>
        </nav>
        <a href="#" class="d-inline-block d-lg-none site-menu-toggle js-menu-toggle text-black float-right"><span
            class="icon-menu h3"></span></a>
      </div>
    </div>
  </div>

</header>

<div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form action="{% url 'login' %}" method="POST">
        <div class="modal-header text-center">
          <h4 class="modal-title w-100 font-weight-bold">Sign in</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body mx-3">
          {{ login_form|crispy }}
          {% csrf_token %}
        </div>
        <div class="modal-footer d-flex justify-content-center">
          <button class="btn btn-primary">Login</button>
        </div>
        <p class="modal-body mx-3 logout">Forgot Password? <a href="{% url 'password_reset' %}">Reset Here</a></p>
      </form>
    </div>
  </div>
</div>