<nav class="mb-1 navbar navbar-expand-lg navbar-dark  bg-primary">
  <div class="container">
    <a class="navbar-brand" href="{% url 'home' %}" style="z-index: 2;"><span class="qawen">Qawen</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4"
      aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation" style="z-index: 2;">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
      <ul class="navbar-nav mr-auto" style="z-index: 2;">
        <li class="nav-item {{ list }}">
          <a class="nav-link" href="{% url 'event_list' %}">List</a>
        </li>
        <li class="nav-item {{ create }}">
          <a class="nav-link" href="{% url 'event_create' %}">Create</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto" style="z-index: 2;">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <i class="fa fa-user"></i> {{ request.user.email }} </a>
          <div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbarDropdownMenuLink-4">
            <a class="dropdown-item" href="{% url 'profile_update' %}">Profile</a>
            <a class="dropdown-item" href="{% url 'password_change' %}">Change password</a>
            <a class="dropdown-item" href="{% url 'logout' %}">Log out</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>