{% load static %}
{% load thumbnail %}
<!DOCTYPE html>
<html lang="en">

<head>
  <link
    href="https://fonts.googleapis.com/css?family=Dancing+Script|Special+Elite|Molle:400i|Muli:300,400,700,900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'js/html2canvas.min.js' %}"></script>
  <script src="{% static 'js/canvas2image.js' %}"></script>
  <title>Front Card</title>
</head>

<body>
  <div id="front-card" class="event-card" style="width: 1004px; height: 591px; background-color: white; z-index: 1;">
    {% thumbnail image.front "1004" crop="center" as im %}
    <img src="{{ im.url }}" alt="front card on {{ event.held_on|date:"j N Y (l)" }}" style="width:100%">
    {% endthumbnail %}
    <div class="centered" style="color: {{ image.font_color_code }}">
      <div class="pengantin-dw">
        {{ event.user.profile.nickname_M }} <br>
        & <br>
        {{ event.user.profile.nickname_F }}
      </div>
      <div class="card-date-dw">
        <br>
        {{ event.held_on|date:"j F Y (l)" }}
      </div>
    </div>
  </div>

  <div style="position: absolute; z-index: 2; left: 33vw; bottom: 95vh;">
    <a href="" download="frontcard.png"><button>Download Image</button></a>
  </div>
  <script>
    $(document).ready(function () {
      var front_card = $('#front-card').get(0)
      var lebar = '1004'
      var tinggi = '591'
      html2canvas(front_card, {
        letterRendering: 1,
        allowTaint: true,
        onrendered: function (canvas) {}
      }).then(function (canvas) {
        var canWidth = canvas.width
        var canHeight = canvas.height
        // Canvas2Image.saveAsPNG(canvas, lebar, tinggi)
        var img = canvas.toDataURL()
        $("a").attr("href", img)
      })
    })
  </script>
</body>

</html>