{% load static %}
{% load thumbnail %}
{% load qr_code %}
<!DOCTYPE html>
<html lang="en">

<head>
  <link
    href="https://fonts.googleapis.com/css?family=Dancing+Script|Special+Elite|Molle:400i|Muli:300,400,700,900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'js/html2canvas.min.js' %}"></script>
  <script src="{% static 'js/canvas2image.js' %}"></script>
  <title>Back Card</title>
</head>

<body>
  <div id="back-card" class="event-card" style="width: 1004px; height: 591px; background-color: white; z-index: 1;">
    {% thumbnail image.back "300" crop="center" as im %}
    <img src="{{ im.url }}" alt="back card on {{ event.held_on|date:"j F Y (l)" }}" style="width:100%">
    {% endthumbnail %}
    <div class="centered" style="color: {{ image.font_color_code }}">
      <div class="qr-code">
        {% qr_from_text event_link size=30 %}
      </div>
      <div class="qr-link-dw">
        {{ event_link }}
      </div>
    </div>
  </div>

  <div style="position: absolute; z-index: 2; left: 33vw; bottom: 95vh;">
    <a href="" download="backcard.png"><button>Download Image</button></a>
  </div>
  <script>
    $(document).ready(function () {
      var front_card = $('#back-card').get(0)
      var lebar = '1004'
      var tinggi = '591'
      html2canvas(front_card, {
        letterRendering: 1,
        allowTaint: true,
        onrendered: function (canvas) {}
      }).then(function (canvas) {
        var canWidth = canvas.width
        var canHeight = canvas.height
        // Canvas2Image.saveAsPNG(canvas, lebar, tinggi)
        var img = canvas.toDataURL()
        $("a").attr("href", img)
      })
    })
  </script>
</body>

</html>