{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load thumbnail %}

{% block title %}About Qawen{% endblock title %}

{% block content %}
<div class="intro-section" id="home-section">

  {% thumbnail image.image "1296x864" crop="center" as im %}
  <div class="slide-1" style="background-image: url('{{ im.url }}');">
    {% endthumbnail %}
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12">
          <div class="row align-items-center position-relative">
            <div class="col-lg-6 mb-4">
              <h1 data-aos="fade-up" data-aos-delay="100">{{ content.title }}</h1>
              <p class="mb-4" data-aos="fade-up" data-aos-delay="200">{{ content.content }}</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
{% endblock content %}