{% extends 'user_base.html' %}
{% load thumbnail %}
{% load qr_code %}

{% block title %}Choose Card{% endblock title %}

{% block content %}
<div class="row justify-content-center m-3">
  <h2><strong>Choose Card</strong></h2>
</div>

<div class="row justify-content-around">

  {% for card in card_list %}
  <div class="card m-2" style="width:300px">
    <div class="card-body p-0">
      <h4 class="card-title text-center m-2"><strong>Front</strong></h4>
    </div>
    <a href="{% url 'card_choose' groom bride event.pk %}?type={{ forloop.counter }}&card=front"
      class="event-card card-img-top">
      {% thumbnail card.front "300" crop="center" as im %}
      <img src="{{ im.url }}" alt="front card on {{ event.held_on|date:"j N Y (l)" }}" style="width:100%">
      {% endthumbnail %}
      <div class="centered" style="color: {{ card.font_color_code }}">
        <div class="pengantin">
          {{ event.user.profile.nickname_M }} <br>
          & <br>
          {{ event.user.profile.nickname_F }}
        </div>
        <div class="card-date">
          <br>
          {{ event.held_on|date:"j F Y (l)" }}
        </div>
      </div>
    </a>
    <div class="card-body p-0">
      <h4 class="card-title text-center m-2"><strong>Back</strong></h4>
    </div>
    <a href="{% url 'card_choose' groom bride event.pk %}?type={{ forloop.counter }}&card=back"
      class="event-card card-img-top">
      {% thumbnail card.back "300" crop="center" as im %}
      <img src="{{ im.url }}" alt="back card on {{ event.held_on|date:"j F Y (l)" }}" style="width:100%">
      {% endthumbnail %}
      <div class="centered" style="color: {{ card.font_color_code }}">
        <div class="qr-code">
          {% qr_from_text event_link size=9 %}
        </div>
        <div class="qr-link text-nowrap">
          {{ event_link }}
        </div>
      </div>
    </a>
  </div>
  {% endfor %}

  {% comment %} <div class="card m-2" style="width:300px">
    <div class="card-body p-0">
      <h4 class="card-title text-center m-2"><strong>Front</strong></h4>
    </div>
    <a href="{% url 'card_choose' groom bride event.pk %}?card=front&type=2" class="event-card card-img-top">
      {% thumbnail front_2.image "300" crop="center" as im %}
      <img src="{{ im.url }}" alt="front card on {{ event.held_on|date:"j N Y (l)" }}" style="width:100%">
      {% endthumbnail %}
      <div class="centered">
        <div class="pengantin">
          {{ event.user.profile.nickname_M }} <br>
          & <br>
          {{ event.user.profile.nickname_F }}
        </div>
        <div class="card-date">
          <br>
          {{ event.held_on|date:"j F Y (l)" }}
        </div>
      </div>
    </a>
    <div class="card-body p-0">
      <h4 class="card-title text-center m-2"><strong>Back</strong></h4>
    </div>
    <a href="{% url 'card_choose' groom bride event.pk %}?card=back&type=2" class="event-card card-img-top">
      {% thumbnail back_2.image "300" crop="center" as im %}
      <img src="{{ im.url }}" alt="back card on {{ event.held_on|date:"j F Y (l)" }}" style="width:100%">
      {% endthumbnail %}
      <div class="centered">
        <div class="qr-code">
          {% qr_from_text event_link size=9 %}
        </div>
        <div class="qr-link text-nowrap">
          {{ event_link }}
        </div>
      </div>
    </a>
  </div>

  <div class="card m-2" style="width:300px">
    <div class="card-body p-0">
      <h4 class="card-title text-center m-2"><strong>Front</strong></h4>
    </div>
    <a href="{% url 'card_choose' groom bride event.pk %}?card=front&type=3" class="event-card card-img-top">
      {% thumbnail front_3.image "300" crop="center" as im %}
      <img src="{{ im.url }}" alt="front card on {{ event.held_on|date:"j N Y (l)" }}" style="width:100%">
      {% endthumbnail %}
      <div class="centered">
        <div class="pengantin">
          {{ event.user.profile.nickname_M }} <br>
          & <br>
          {{ event.user.profile.nickname_F }}
        </div>
        <div class="card-date">
          <br>
          {{ event.held_on|date:"j F Y (l)" }}
        </div>
      </div>
    </a>
    <div class="card-body p-0">
      <h4 class="card-title text-center m-2"><strong>Back</strong></h4>
    </div>
    <a href="{% url 'card_choose' groom bride event.pk %}?card=back&type=3" class="event-card card-img-top">
      {% thumbnail front_3.image "300" crop="center" as im %}
      <img src="{{ im.url }}" alt="back card on {{ event.held_on|date:"j F Y (l)" }}" style="width:100%">
      {% endthumbnail %}
      <div class="centered">
        <div class="qr-code">
          {% qr_from_text event_link size=9 %}
        </div>
        <div class="qr-link text-nowrap">
          {{ event_link }}
        </div>
      </div>
    </a>
  </div> {% endcomment %}

</div>
{% endblock content %}