{% extends 'user_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Delete Inviter{% endblock title %}

{% block content %}
<div class="row mx-1">
  <h1>Delete Inviter</h1>
</div>
<hr style="width: 100%;">
<div class="row  mx-1">
  <p>Are you sure to delete this inviter?</p>
</div>
<div class="row">
  <div class="card m-3 col-md-6 col-lg-5">
    <div class="card-body">
      <h5 class="card-title"><strong>{{ object.full_name }} ({{ object.nickname }})</strong></h5>
      <p class="card-text">{{ object.phone_no1 }}{% if object.phone_no2 %}, {{ object.phone_no2 }}{% endif %}</p>
      <p class="card-text"><strong>{{ object.relation }}</strong></p>
    </div>
  </div>
</div>
<form action="." method="post">
  {% csrf_token %}
  <button type="submit" class="btn btn-danger">Confirm</button>
</form>
{% endblock content %}