{% extends 'user_base.html' %}
{% load thumbnail %}

{% block title %}{{ object.held_on|date:"j N Y (l)" }}{% endblock title %}

{% block content %}
<div class="row justify-content-center m-3">
  <h2><strong>Event on {{ object.held_on|date:"j F Y (l)" }}</strong></h2>
</div>

<div class="row justify-content-center text-center m-3">
  <a href="{% url 'guest_event_detail' groom bride object.pk %}" class="btn btn-info btn-fluid col-md-3 col-sm-6">
    View as guest
  </a>
</div>

<div class="row justify-content-center mt-3">
  <h4><u><strong>Images</strong></u></h4>
</div>

<div class="row justify-content-center">
  {% for image in object.eventimage_set.all %}
  <div class="card m-2" style="width:250px">
    {% thumbnail image.image "250x167" crop="center" as im %}
    <a href="{{ image.image.url }}">
      <img class="card-img-top" src="{{ im.url }}" style="width:100%">
    </a>
    {% endthumbnail %}
    <a href="{% url 'event_image_delete' image.pk %}" class="btn btn-danger">Delete</a>
  </div>
  {% endfor %}
  {% if object.image_count < 1 %}
  <a class="my-auto mx-3" href="{% url 'event_image_create' object.pk %}" style="font-size: 75px;">
    <i class="fa fa-plus-circle fa-lg"></i>
  </a>
  {% endif %}
</div>

<div class="row justify-content-center mt-3">
  <h4><u><strong>Video</strong></u></h4>
</div>

{% if object.video %}
<div class="row justify-content-center text-center m-3">
  <a class="popup-youtube btn btn-primary btn-fluid col-md-2 col-sm-6 mx-2 my-1" href="{{ object.video.yt_id }}">View
    Video</a>
  <a href="{% url 'video_delete' object.pk %}" class="btn btn-danger btn-fluid col-md-2 col-sm-6 mx-2 my-1">Delete
    Video</a>
</div>
{% else %}
<div class="row justify-content-center text-center m-3">
  <a href="{% url 'video_create' object.pk %}" class="btn btn-primary btn-fluid col-md-3 col-sm-6">Add Video</a>
</div>
{% endif %}

<div class="row justify-content-center mt-3">
  <h4><u><strong>Address</strong></u></h4>
</div>

<div class="row justify-content-center text-center">
  <p>
    {{ object.address1 }}<br>
    {% if object.address2 %}
    {{ object.address2 }}<br>
    {% endif %}
    {{ object.postcode }}, {{ object.city }} <br>
    {{ object.state }}
  </p>
</div>

<div class="row justify-content-center mt-3">
  <h4><u><strong>Maps</strong></u></h4>
</div>

{% if object.map %}
<div class="row justify-content-center text-center m-3">
  <a class="btn btn-primary btn-fluid col-md-2 col-sm-6 mx-2 my-1" href="{{ object.map.map_url }}">View
    Map</a>
  <a href="{% url 'map_delete' object.pk %}" class="btn btn-danger btn-fluid col-md-2 col-sm-6 mx-2 my-1">Delete
    Map</a>
</div>
{% else %}
<div class="row justify-content-center text-center m-3">
  <a href="{% url 'map_create' object.pk %}" class="btn btn-info btn-fluid col-md-3 col-sm-6">Add Map</a>
</div>
{% endif %}

<div class="row justify-content-center mt-3">
  <h4><u><strong>Activity</strong></u></h4>
</div>

<div class="row justify-content-center text-center m-3">
  {% if object.activity.first %}
  <a href="{% url 'activity_list' groom bride object.pk %}" class="btn btn-primary btn-fluid col-md-3 col-sm-6">
    View Activity
  </a>
  {% else %}
  <a href="{% url 'activity_create' object.pk %}" class="btn btn-primary btn-fluid col-md-3 col-sm-6">Add Activity</a>
  {% endif %}
</div>

<div class="row justify-content-center mt-4">
  <h4><u><strong>Inviter</strong></u></h4>
</div>

<div class="row justify-content-center">
  {% for invitor in object.invitor.all %}
  <div class="card m-3 col-md-6 col-lg-5">
    <div class="card-body">
      <h5 class="card-title"><strong>{{ invitor.full_name }}
          {% if invitor.nickname %}
          <span class="text-nowrap">({{ invitor.nickname }})</span>
          {% endif %}
        </strong></h5>
      <p class="card-text">{{ invitor.phone_no1 }}{% if invitor.phone_no2 %}, {{ invitor.phone_no2 }}{% endif %}</p>
      <p class="card-text"><strong>{{ invitor.relation }}</strong></p>
      <a href="{% url 'event_invitor_delete' invitor.pk %}" class="btn btn-danger">Delete</a>
    </div>
  </div>
  {% endfor %}
  {% if object.invitor_count < 3 %}
  <a class="my-auto mx-3" href="{% url 'event_invitor_create' object.pk %}" style="font-size: 75px;">
    <i class="fa fa-plus-circle fa-lg"></i>
  </a>
  {% endif %}
</div>

<div class="row justify-content-end fixed-top fixed-button text-center" style="z-index: 1;">
  <div class="col-6 col-md-3">
    <a href="{% url 'guest_list' groom bride object.pk %}" class="btn btn-info m-1 col-5">
      {{ object.guest_count }} joined
    </a>
    <a href="{% url 'event_update' object.pk %}" class="btn btn-secondary m-1 col-5">Update</a>
  </div>
</div>
{% endblock content %}

{% block js %}
<script>
  $(document).ready(function () {
    $('.popup-youtube, .popup-vimeo, .popup-gmaps').magnificPopup({
      disableOn: 700,
      type: 'iframe',
      mainClass: 'mfp-fade',
      removalDelay: 160,
      preloader: false,

      fixedContentPos: false
    });
  });
</script>
{% endblock js %}