{% extends 'user_base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Guest List{% endblock title %}

{% block head %}
{{ range_form.media }}
<script src="{% static 'js/xlsx.full.min.js' %}"></script>
<script src="{% static 'js/FileSaver.min.js' %}"></script>
{% endblock head %}

{% block content %}
<div class="row justify-content-center m-3">
  <h2><strong>Guest List</strong></h2>
</div>

<div>
  <form action="." method="get">

    <div class="form-row">
      <div class="form-group col-md-2 col-4 mb-0">
        {{ range_form.begin|as_crispy_field }}
      </div>
      <div class="form-group col-md-2 col-4 mb-0">
        {{ range_form.end|as_crispy_field }}
      </div>
      <button type="submit" class="btn btn-primary mt-2 mb-4">Filter</button>
    </div>
  </form>
  <button class="mb-1" id="download">Download table</button>
</div>
<table id="tblList" class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nickname</th>
      <th scope="col">Guests</th>
      <th scope="col">Estimated come</th>
    </tr>
  </thead>
  <tbody>
    {% for guest in object_list %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{ guest.nickname }}</td>
      <td>{{ guest.num_guest }}</td>
      <td>{{ guest.time_come|date:"h:i a" }}</td>
    </tr>
    {% empty %}
    <tr>
      <th scope="row" colspan="4">No guest joined yet.</th>
    </tr>
    {% endfor %}
    <tr>
      <td></td>
      <th>Total Guest</th>
      <th>{{ guest_count }}</th>
    </tr>
  </tbody>
</table>

<script>
  var wb = XLSX.utils.table_to_book(document.getElementById('tblList'), {
    sheet: "guest-list"
  })
  var wbout = XLSX.write(wb, {
    bookType: 'xlsx',
    bookSST: true,
    type: 'binary'
  })

  function s2ab(s) {
    var buf = new ArrayBuffer(s.length)
    var view = new Uint8Array(buf)
    for (var i = 0; i < s.length; i++) view[i] = s.charCodeAt(i) & 0xFF
    return buf
  }

  $("#download").click(function () {
    saveAs(new Blob([s2ab(wbout)], {
      type: "application/octet-stream"
    }), 'guest-list.xlsx')
  })
</script>
{% endblock content %}