{% extends 'guest_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Cancel Join{% endblock title %}

{% block content %}
<div class="row justify-content-center m-0 p-3">
  <h1 style="font-family: 'Dancing Script', cursive;"><strong>Cancel Join</strong></h1>
</div>
<hr style="width: 100%;">
<div class="row justify-content-center">
  <form action="." method="post">
    {% csrf_token %}
    <h6><strong>Are you sure don't want to go this event {{ object.nickname }}?</strong></h6>
    <button type="submit" class="btn btn-danger">Cancel</button>
  </form>
</div>
{% endblock content %}