{% extends 'guest_base.html' %}
{% load crispy_forms_tags %}

{% block head %}
{{ form.media }}
{% endblock head %}

{% block title %}Event Join{% endblock title %}

{% block content %}
<div class="row justify-content-center m-0 p-3">
  <h1 style="font-family: 'Dancing Script', cursive;"><strong>Event Join</strong></h1>
</div>
<hr style="width: 100%;">
<form action="." method="POST">
  <div class="form-row">
    <div class="form-group col-md-4 mb-0">
      {{ form.nickname|as_crispy_field }}
    </div>
    <div class="form-group col-sm-6 col-md-4 mb-0">
      {{ form.num_guest|as_crispy_field }}
    </div>
    <div class="form-group col-sm-6 col-md-4 mb-0">
      {{ form.time_come|as_crispy_field }}
    </div>
  </div>
  {% csrf_token %}
  <button type="submit" class="btn btn-primary">Join</button>
</form>
{% endblock content %}