{% extends 'user_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Event Image{% endblock title %}

{% block content %}
<div class="row justify-content-center m-3">
  <h1>Event Image</h1>
</div>
<hr style="width: 100%;">
<form action="." enctype="multipart/form-data" method="post">
  <div class="form-row">
    <div class="form-group col-sm-6 col-lg-4 col-xl-3 mb-0">
      {{ form.image|as_crispy_field }}
    </div>
  </div>
  {% csrf_token %}
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock content %}