{% extends 'user_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Event Map{% endblock title %}

{% block content %}
<div class="row justify-content-center m-3">
  <h1>Event Map</h1>
</div>
<hr style="width: 100%;">
<form action="." method="post">
  <div class="form-row">
    <div class="form-group col-md-6 mb-0">
      {{ form.map_url|as_crispy_field }}
    </div>
  </div>
  {% csrf_token %}
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock content %}