{% extends 'user_base.html' %}
{% load thumbnail %}

{% block title %}Event List{% endblock title %}

{% block content %}
<div class="row justify-content-center m-3">
  <h2>Event List</h2>
</div>
<div class="row justify-content-around">
  {% for event in object_list %}
  {% with groom=event.user.profile.nickname_M|lower bride=event.user.profile.nickname_F|lower %}
  <div class="card m-2" style="width:500px">
    {% if event.eventimage_set.first %}
    {% thumbnail event.eventimage_set.first.image "500x334" crop="center" as im %}
    <a href="{% url 'event_detail' groom bride event.pk %}">
      <img class="card-img-top" src="{{ im.url }}" alt="Event on {{ event.held_on|date:"j F Y (l)" }}"
        style="width:100%">
    </a>
    {% endthumbnail %}
    {% else %}
    {% thumbnail no_image.image "500x334" crop="center" as im %}
    <a href="{% url 'event_detail' groom bride event.pk %}">
      <img class="card-img-top" src="{{ im.url }}" alt="No image" style="width:100%">
    </a>
    {% endthumbnail %}
    {% endif %}
    <div class="card-body">
      <h4 class="card-title">Event on {{ event.held_on|date:"j F Y (l)" }}</h4>
      <a href="{% url 'event_detail' groom bride event.pk %}" class="btn btn-primary">Update</a>
      <a href="{% url 'guest_event_detail' groom bride event.pk %}" class="btn btn-secondary">View</a>
      <a href="{% url 'card_choose' groom bride event.pk %}" class="btn btn-info">Download Card</a>
    </div>
  </div>
  {% endwith %}
  {% empty %}
  <h3>No Event created yet.</h3>
  {% endfor %}
</div>
{% endblock content %}