{% extends 'user_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Delete Activity{% endblock title %}

{% block content %}
<div class="row m-1">
  <h2><strong>Delete Activity</strong></h2>
</div>
<hr style="width: 100%;">
<form action="." method="post">
  {% csrf_token %}
  <p>Are you sure to delete "<strong>{{ object.activity }}</strong> : start:{{ object.start|date:"g:i A" }} -
    end:{{ object.end|date:"g:i A" }}"
  </p>
  <button type="submit" class="btn btn-danger">Confirm</button>
</form>
{% endblock content %}