{% extends 'user_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Event Inviter{% endblock title %}

{% block content %}
<div class="row justify-content-center m-3">
  <h1>Event Inviter</h1>
</div>
<hr style="width: 100%;">
<form action="." method="POST">
  <div class="form-row">
    <div class="form-group col-md-6 mb-0">
      {{ form.full_name|as_crispy_field }}
    </div>
    <div class="form-group col-sm-6 col-md-3 mb-0">
      {{ form.nickname|as_crispy_field }}
    </div>
    <div class="form-group col-sm-6 col-md-3 mb-0">
      {{ form.relation|as_crispy_field }}
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-sm-6 col-md-3 mb-0">
      {{ form.phone_no1|as_crispy_field }}
    </div>
    <div class="form-group col-sm-6 col-md-4 mb-0">
      {{ form.phone_no2|as_crispy_field }}
    </div>
  </div>
  {% csrf_token %}
  <button type="submit" class="btn btn-primary">Sumbit</button>
</form>
{% endblock content %}