{% extends 'user_base.html' %}
{% load crispy_forms_tags %}

{% block head %}
{{ form.media }}
{% endblock head %}

{% block title %}Event Activity{% endblock title %}

{% block content %}
<div class="row justify-content-center m-3">
  <h1>Event Activity</h1>
</div>
<hr style="width: 100%;">
<form action="." method="POST">
  <div class="form-row">
    <div class="form-group col-md-6 mb-0">
      {{ form.activity|as_crispy_field }}
    </div>
    <div class="form-group col-6 col-md-3 mb-0">
      {{ form.start|as_crispy_field }}
    </div>
    <div class="form-group col-6 col-md-3 mb-0">
      {{ form.end|as_crispy_field }}
    </div>
  </div>
  {% csrf_token %}
  <button type="submit" class="btn btn-primary">Add</button>
</form>
{% endblock content %}