{% extends 'user_base.html' %}
{% load thumbnail %}

{% block title %}Delete Image{% endblock title %}

{% block content %}
<div class="row m-3">
  <h2><strong>Delete Activity</strong></h2>
</div>
<hr style="width: 100%;">
<form action="." method="post">
  {% csrf_token %}
  <p>Are you sure to delete this image?"</p>
  <div class="card mb-2" style="width:500px">
    {% thumbnail object.image "500x334" crop="center" as im %}
    <a href="{{ object.image.url }}">
      <img class="card-img-top" src="{{ im.url }}" style="width:100%">
    </a>
    {% endthumbnail %}
  </div>
  <button type="submit" class="btn btn-danger">Confirm</button>
</form>
{% endblock content %}