{% extends 'user_base.html' %}
{% load crispy_forms_tags %}

{% block head %}
{{ form.media }}
{% endblock head %}

{% block title %}Event{% endblock title %}

{% block content %}
<div class="row justify-content-center m-3">
  <h1>Event</h1>
</div>
<hr style="width: 100%;">
<form action="." method="POST">
  <div class="form-row">
    <div class="form-group col-md-3 col-6 mb-0">
      {{ form.held_on|as_crispy_field }}
    </div>
  </div>
  {{ form.address1|as_crispy_field }}
  {{ form.address2|as_crispy_field }}
  <div class="form-row">
    <div class="form-group col-md-3 col-4 mb-0">
      {{ form.postcode|as_crispy_field }}
    </div>
    <div class="form-group col-md-4 col-6 ml-auto mb-0">
      {{ form.city|as_crispy_field }}
    </div>
    <div class="form-group col-md-4 col-6 mb-0">
      {{ form.state|as_crispy_field }}
    </div>
  </div>
  {% csrf_token %}
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock content %}