{% extends 'user_base.html' %}

{% block title %}Aturcara{% endblock title %}

{% block content %}
<div class="row justify-content-center m-3">
  <h2><strong>Aturcara</strong></h2>
</div>

{% for activity in object_list %}
<div class="row justify-content-center">
  <div class="card m-3 col-md-6 col-lg-5 text-center">
    <h5 class="card-header"><strong>{{ activity.activity }}</strong></h5>
    <div class="card-body">
      <p class="card-text">{{ activity.start|date:"g:i A" }} - {{ activity.end|date:"g:i A" }}</p>
      <a href="{% url 'activity_delete' activity.pk %}" class="btn btn-danger">Delete</a>
    </div>
  </div>
</div>
{% endfor %}

<div class="row justify-content-center">
  <a href="{% url 'activity_create' event_pk %}" style="font-size: 75px;">
    <i class="fa fa-plus-circle fa-lg"></i>
  </a>
</div>

<div class="row justify-content-center fixed-top text-center event-button" style="z-index: 1;">
  <div class="col-6 col-md-3">
    <a href="{% url 'event_detail' groom bride event_pk %}" class="btn btn-info m-1 btn-fluid">Back to event</a>
  </div>
</div>
{% endblock content %}