{% extends 'guest_base.html' %}
{% load thumbnail %}

{% block title %}Aturcara{% endblock title %}

{% block content %}
{% thumbnail frame.image "1080x1200" crop="center" as im %}
<div class="row justify-content-center wed-frame py-4 mb-0" style="background-image: url('{{ im.url }}');">
  {% endthumbnail %}
  <div class="col text-center">
    <h2 class="couple-name m-2"><strong>{{ event.user.profile.nickname_M }} &
        {{ event.user.profile.nickname_F }}</strong></h2>
    <h5 class="m-3 event-date"><strong>{{ event.held_on|date:"j F Y (l)" }}</strong></h5>
    <a href="{% url 'guest_event_detail' groom bride event.pk %}" class="btn btn-outline-primary btn-sm">Back to
      event</a>
  </div>
</div>

<div class="row justify-content-center m-3">
  <h1 class="raikan-cinta"><strong>Aturcara</strong></h1>
</div>

{% for activity in object_list %}
<div class="row justify-content-center text-center">
  <div class="col">
    <hr style="width: 100%;">
    <h2 class="event-title my-4"><strong>{{ activity.activity }}</strong></h2>
    <h3 class="event-date my-2">
      <strong>{{ activity.start|date:"g:i A" }} - {{ activity.end|date:"g:i A" }}</strong>
    </h3>
  </div>
</div>
{% empty %}
<div class="row justify-content-center">
  <h3>No activity listed yet.</h3>
</div>
{% endfor %}
{% endblock content %}