{% extends 'guest_base.html' %}
{% load thumbnail %}

{% block title %}{{ object.held_on|date:"j N Y (l)" }}{% endblock title %}

{% block content %}
<nav class="navbar navbar-expand navbar-dark bg-primary sticky-top" style="margin-left: -15px;margin-right: -15px;">
  <a class="navbar-brand" href="{% url 'home' %}"><span class="qawen">Qawen</span></a></a>
  <ul class="navbar-nav m-auto">
    <li class="nav-item ">
      <a class="nav-link" href="{% url 'guest_activity_list' groom bride object.pk %}"><strong>Aturcara</strong></a>
    </li>
  </ul>
  <ul class="navbar-nav">
    {% if guest %}
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <strong>{{ guest.nickname }}</strong>
      </a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="{% url 'guest_update' groom bride object.pk guest.pk %}">Update Info</a>
        <a class="dropdown-item" href="{% url 'guest_cancel' groom bride object.pk guest.pk %}">Cancel Join</a>
      </div>
    </li>
    {% else %}
    <a href="{% url 'guest_join' groom bride object.pk %}" class="btn btn-outline-light btn-sm btn-event">
      Join Event
    </a>
    {% endif %}
  </ul>
</nav>

<div class="row event-image">
  {% for image in object.eventimage_set.all %}
  {% thumbnail image.image "1080x594" crop="center" as im %}
  {% if forloop.first %}
  <div class="first-image">
    <img src="{{ im.url }}" style="width:100%">
    <div class="col text-center img-centered">
      <h2 class="couple-name m-2"><strong>{{ object.user.profile.nickname_M }} &
          {{ object.user.profile.nickname_F }}</strong></h2>
      <h5 class="m-3 event-date"><strong>{{ object.held_on|date:"j F Y (l)" }}</strong></h5>
      {% if object.video %}
      <a class="popup-youtube btn btn-outline-warning btn-sm btn-event" href="{{ object.video.yt_id }}">
        Play Video
      </a>
      {% endif %}
    </div>
  </div>
  {% else %}
  <div>
    <img src="{{ im.url }}" style="width:100%">
  </div>
  {% endif %}
  {% endthumbnail %}
  {% endfor %}
</div>

<div class="row jumbotron p-0 mb-0">
  <div class="col">
    <div class="row text-center mt-4 mb-3">
      <div class="col">
        <h2 class="event-title"><strong>Saat Bahagia Bakal Menjelma</strong></h2>
      </div>
    </div>

    <div class="row flipper mx-1 mb-3" data-reverse="true" data-datetime="{{ object.held_on|date:'Y-m-d' }} 00:00:00"
      data-template="ddd|HH|ii|ss" data-labels="Days|Hours|Minutes|Seconds" id="myFlipper"></div>
  </div>
</div>

<div class="row text-center mt-4 mb-1">
  <div class="col">
    <h2 class="event-title"><strong>Lokasi Majlis</strong></h2>
  </div>
</div>

<div class="row justify-content-center mt-0 mb-3">
  {% if object.map %}
  <a class="btn btn-outline-primary btn-fluid" href="{{ object.map.map_url }}">View
    Map</a>
  {% endif %}
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-6 col-md-5">
      <h6>
        <strong>
          {{ object.address1 }}<br>
          {% if object.address2 %}
          {{ object.address2 }}<br>
          {% endif %}
          {{ object.postcode }}, {{ object.city }} <br>
          {{ object.state }}
        </strong>
      </h6>
    </div>
    {% comment %} <div class="col-md-4"></div> {% endcomment %}
  </div>
</div>

<div class="row jumbotron pt-4 pb-5 mt-5 mb-0">
  <div class="col p-0">
    <div class="row text-center mt-4 mb-3">
      <div class="col">
        <h2 class="event-title"><strong>Hubungi Kami</strong></h2>
      </div>
    </div>

    <div class="row justify-content-center">
      {% for invitor in object.invitor.all %}
      <div class="col-md-8 m-3">
        <div class="row">
          <div class="col-2 my-auto">
            <a href="https://www.wasap.my/+6{{ invitor.phone_no1 }}">
              <i class="fa fa-whatsapp fa-lg" aria-hidden="true" style="font-size: 60px; color: #4FCE5D;"></i>
            </a>
          </div>
          <div class="col-10">
            <h5 class=""><strong>{{ invitor.full_name }}
                {% if invitor.nickname %}
                <span class="text-nowrap">({{ invitor.nickname }})</span>
                {% endif %}
              </strong></h5>
            <h6 class="">
              <strong>
                +6{{ invitor.phone_no1 }}<br>
                {% if invitor.phone_no2 %}+6{{ invitor.phone_no2 }}{% endif %}
              </strong>
            </h6>
            <h5 class=""><strong>{{ invitor.relation }}</strong></h5>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock content %}

{% block js %}
<script>
  $(document).ready(function () {
    $('.event-image').slick({
      slidesToShow: 1,
      slidesToScroll: 1,
      fade: true,
      cssEase: 'linear',
      autoplay: true,
      autoplaySpeed: 5000,
    })
    $('.popup-youtube, .popup-vimeo, .popup-gmaps').magnificPopup({
      disableOn: 700,
      type: 'iframe',
      mainClass: 'mfp-fade',
      removalDelay: 160,
      preloader: false,

      fixedContentPos: false
    });
  })
  jQuery(function ($) {
    $('#myFlipper').flipper('init');
  });
</script>
{% endblock js %}