{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load thumbnail %}

{% block title %}Welcome{% endblock title %}

{% block content %}
<div class="intro-section" id="home-section">

  {% thumbnail image.image "1296x864" crop="center" as im %}
  <div class="slide-1" style="background-image: url('{{ im.url }}');">
    {% endthumbnail %}
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12">
          <div class="row align-items-center position-relative">
            <div class="col-lg-6 mb-4">
              <h1 data-aos="fade-up" data-aos-delay="100">{{ content.title }}</h1>
              <p class="mb-4" data-aos="fade-up" data-aos-delay="200">{{ content.content }}</p>
              <p class="d-none d-md-block" data-aos="fade-up" data-aos-delay="300"><a href="{% url 'event_list' %}"
                  class="btn btn-primary py-3 px-5 btn-pill">Get Started</a></p>
              <p class="d-md-none" data-aos="fade-up" data-aos-delay="300"><a href="{% url 'signup' %}"
                  class="btn btn-primary py-3 px-5 btn-pill">Sign Up</a></p>
            </div>

            <div class="col-lg-5 ml-auto d-none d-md-block" data-aos="fade-up" data-aos-delay="500">
              <form action="{% url 'signup' %}" method="post" class="form-box">
                <h3 class="h4 text-black mb-4">Sign Up</h3>
                {{ signup_form|crispy }}
                {% csrf_token %}
                <div class="form-group">
                  <input type="submit" class="btn btn-primary btn-pill" value="Sign up">
                </div>
              </form>

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
{% endblock content %}