{% extends 'html_base.html' %}

{% block site %}
<div class="guest-bg">
  <div class="event-container">
    <div class="container-fluid">
      {% block content %}
      {% endblock content %}
    </div>
  </div>
</div>
{% endblock site %}