{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>Qawen | {% block title %}{% endblock title %}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- CSS pakage -->
  <link
    href="https://fonts.googleapis.com/css?family=Dancing+Script|Special+Elite|Molle:400i|Muli:300,400,700,900&display=swap"
    rel="stylesheet">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
  <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/aos.css' %}">
  <link rel="stylesheet" href="{% static 'css/slick-theme.css' %}">
  <link rel="stylesheet" href="{% static 'css/slick.css' %}">

  <!-- custom CSS -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

  <!-- js -->
  <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>

  {% comment %} Additional head {% endcomment %}
  {% block head %}{% endblock head %}
</head>

<body>

  {% block site %}
  <div class="site-wrap">

    {% include 'layouts/navbar.html' %}
    {% block content %}
    {% endblock content %}

  </div> <!-- .site-wrap -->
  {% endblock site %}


  <!-- js package -->
  <script src="{% static 'js/jquery-migrate-3.0.1.min.js' %}"></script>
  <script src="{% static 'js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'js/jquery.stellar.min.js' %}"></script>
  <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
  <script src="{% static 'js/jquery.countdown.min.js' %}"></script>
  <script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
  <script src="{% static 'js/aos.js' %}"></script>
  <script src="{% static 'js/jquery.sticky.js' %}"></script>
  <script src="{% static 'js/slick.min.js' %}"></script>
  <script src="{% static 'js/jquery.flipper-responsive.js' %}"></script>

  <!-- custom js -->
  <script src="{% static 'js/main.js' %}"></script>

  {% block js %}
  {% endblock js %}

</body>

</html>